include /other-bucket/mixin

-
	var manifest = require('../../package.json')

doctype html
html
	meta(charset='utf-8')
	title index

body
	div #{dev}
	+Mixin
	div #{manifest.name}-#{manifest.version}
