// bucket:index

@import (reference) '/other-bucket/index';

.class
{
	.trait(standard);
}

.bg1
{
	background: url(~assets/index/green.png);
}
.bg2
{
	background: url(~assets/other-bucket/green.gif);
}
.bg3
{
	background-image: url(~assets/other-bucket/green.gif);
}
.bg-large
{
	background: url(~assets/index/green-large.png);
}
.bg-svg
{
	background: url(~assets/index/github.svg);
}

.bg-nonexistent
{
	background: url(~assets/index/non-existent.png);
}
.bg-nonexistent2
{
	background-image: url(~assets/index/non-existent.png);
}

.flex
{
	display: flex;
}
